<!DOCTYPE HTML>
<html lang="ru">
<head>
    <!-- v 2.0 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8">
    <title>ChsuInfo - Расписание</title>
    <!-- <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> -->
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link href="css/reveal.css" rel="stylesheet" />
	
    <script type="text/javascript" src="js/jquery.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.ikSelect.min.js"></script>
	<script type="text/javascript" src="js/jquery.reveal.js"></script>

</head>
<body>
	<div id="header">
		<div id="header_content">
			<img src="http://placehold.it/132x60">		
			<a href="#" class="dot-link" data-reveal-id="modalAuth" data-animation="fade" style="margin-left: 15px;">Войти в профиль</a>  <a href="#" class="dot-link" data-reveal-id="modalReg" data-animation="fade" style="margin-left: 15px;">Зарегистрироваться</a>
			<span>
				<a href="#" id="active">Расписание</a> / <a href="#">Mobile</a> / <a href="#">SMS & VK</a> / <a href="#">Блог</a> / <a href="#">Мероприятия</a>
			</span>
			<div id="header-shadow"></div>
		</div>
	</div>
	<div id="content">
		<div id="content_c">
			<div style="display:inline;position:relative; top:8px;">
				<div class="inline" style="margin-right:10px;">
					<select id="group" data-filter="true" data-autoWidth="false">
						 <option>4ППДОб-01-21оп</option>
						 <option selected>1ПИб-01-11оп</option>
						 <option>1ПИб2</option>
						 <option>1ПИб-01-11оп</option><option>1ПИб2</option>
						 <option>1ПИб-01-11оп</option><option>1ПИб2</option>
						 <option>1ПИб-01-11оп</option><option>1ПИб2</option>
						 <option>1ПИб-01-11оп</option><option>1ПИб2</option>
						 <option>1ПИб-01-11оп</option><option>1ПИб2</option>
						 <option>1ПИб-01-11оп</option><option>1ПИб2</option>
						 <option>1ПИб-01-11оп</option><option>1ПИб2</option>
						 <option>1ПИб-01-11оп</option><option>1ПИб2</option>
						 <option>1ПИб-01-11оп</option><option>1ПИб2</option>
						 <option>1ПИб-01-11оп</option><option>1ПИб2</option>
						 <option>1ПИб-01-11оп</option><option>1ПИб2</option>
						 <option>1ПИб-01-11оп</option><option>1ПИб2</option>
						 <option>1ПИб-01-11оп</option><option>1ПИб2</option>
						 <option>1ПИб-01-11оп</option><option>1ПИб2</option>
						 <option>1ПИб-01-11оп</option><option>1ПИб2</option>
						 <option>1ПИб-01-11оп</option><option>1ПИб2</option>
						 <option>1ПИб-01-11оп</option><option>1ПИб2</option>
						 <option>1ПИб-01-11оп</option><option>1ПИб2</option>
						 <option>1ПИб-01-11оп</option><option>1ПИб2</option>
						 <option>1ПИб-01-11оп</option><option>1ПИб2</option>
						 <option>1ПИб-01-11оп</option><option>1ПИб2</option>
						 <option>1ПИб-01-11оп</option><option>1ПИб2</option>
						 <option>1ПИб-01-11оп</option><option>1ПИб2</option>
						 <option>1ПИб-01-11оп</option><option>1ПИб2</option>
						 <option>1ПИб-01-11оп</option>
					</select>
				</div>
				<div class="inline"  style="margin-right:10px;">
					<select id="week" data-filter="true" data-autoWidth="false">
						 <option>1 Неделя</option>
						 <option selected>2 Неделя</option>
						 <option>3 Неделя</option>
						 <option>4 Неделя</option>
						 <option>42 Неделя</option><option>3 Неделя</option>
						 <option>4 Неделя</option>
						 <option>42 Неделя</option><option>3 Неделя</option>
						 <option>4 Неделя</option>
						 <option>42 Неделя</option><option>3 Неделя</option>
						 <option>4 Неделя</option>
						 <option>42 Неделя</option><option>3 Неделя</option>
						 <option>4 Неделя</option>
						 <option>42 Неделя</option><option>3 Неделя</option>
						 <option>4 Неделя</option>
						 <option>42 Неделя</option>
					</select>
				</div>
				<div class="inline" style="position:relative; bottom:12px;">
					<input class="customButton" type="button" value="Отобразить">
				</div>
			</div>
				
			<div class="share valign-middle inline-block">
				<span>Запостить в</span> <a href="#" target="_blank"><i class="i vk"></i></a> <a href="#" target="_blank"><i class="i tw"></i></a> <a href="#" target="_blank"><i class="i fb"></i></a>
			</div>
			
			<table class="rasp">
				<tbody>
					<tr>
						<td>
							<div class="wrap_schedule">
								<div class="title_red uppercase">Понедельник<span style="color: #f0c1c1;font-size: 14px;text-transform: none" class="right">3 Мар</span></div>
								<table class="schedule">
												<tbody><tr>
								<td>
									<span class="no-wrap">
										08:00&nbsp;</span><br>
									<span class="gray no-wrap">
										09:35&nbsp;</span>
								</td>
								<td>
									<div>
										<span class="bold no-wrap">&nbsp;</span><br>
										<span class="gray no-wrap">&nbsp;</span>
										<span class="right m20left no-wrap">&nbsp;</span>
									</div>
								</td>
							</tr>
															<tr>
								<td>
									<span class="no-wrap">
										09:45&nbsp;</span><br>
									<span class="gray no-wrap">
										11:20&nbsp;</span>
								</td>
								<td>
									<div>
										<span class="bold no-wrap">&nbsp;</span><br>
										<span class="gray no-wrap">&nbsp;</span>
										<span class="right m20left no-wrap">&nbsp;</span>
									</div>
								</td>
							</tr>
															<tr>
								<td>
									<span class="no-wrap">
										11:35&nbsp;</span><br>
									<span class="gray no-wrap">
										11:35&nbsp;</span>
								</td>
								<td>
									<div>
										<span class="bold no-wrap">Перспективные ИТ</span><br>
										<span class="gray no-wrap" style="max-width: 100px; display:inline-block">
																																																</span>
										<span class="right m20left no-wrap">&nbsp; 534</span>                    </div>
								</td>
							</tr>

																		<tr>
								<td>
									<span class="no-wrap">
										13:25&nbsp;</span><br>
									<span class="gray no-wrap">
										13:25&nbsp;</span>
								</td>
								<td>
									<div>
										<span class="bold no-wrap">Инф. сист. и техн. в эк.</span><br>
										<span class="gray no-wrap" style="max-width: 100px; display:inline-block">
																			Киселева
																	</span>
										<span class="right m20left no-wrap">&nbsp; 504</span>                    </div>
								</td>
							</tr>

																		<tr>
								<td>
									<span class="no-wrap">
										15:15&nbsp;</span><br>
									<span class="gray no-wrap">
										15:15&nbsp;</span>
								</td>
								<td>
									<div>
										<span class="bold no-wrap">Инф. сист. и техн. в эк.</span><br>
										<span class="gray no-wrap" style="max-width: 100px; display:inline-block">
																			Киселева
																	</span>
										<span class="right m20left no-wrap">&nbsp; 504</span>                    </div>
								</td>
							</tr>

																		<tr>
								<td>
									<span class="no-wrap">
										17:00&nbsp;</span><br>
									<span class="gray no-wrap">
										18:35&nbsp;</span>
								</td>
								<td>
									<div>
										<span class="bold no-wrap">&nbsp;</span><br>
										<span class="gray no-wrap">&nbsp;</span>
										<span class="right m20left no-wrap">&nbsp;</span>
									</div>
								</td>
							</tr>
											</tbody></table>
							</div>
						</td>
						<td>
							<div class="wrap_schedule">
							<div class="title_red uppercase">Вторник<span style="color: #f0c1c1;font-size: 14px;text-transform: none" class="right">4 Мар</span></div>
									<table class="schedule">
													<tbody><tr>
									<td>
										<span class="no-wrap">
											08:00&nbsp;</span><br>
										<span class="gray no-wrap">
											09:35&nbsp;</span>
									</td>
									<td>
										<div>
											<span class="bold no-wrap">&nbsp;</span><br>
											<span class="gray no-wrap">&nbsp;</span>
											<span class="right m20left no-wrap">&nbsp;</span>
										</div>
									</td>
								</tr>
																<tr>
									<td>
										<span class="no-wrap">
											09:45&nbsp;</span><br>
										<span class="gray no-wrap">
											11:20&nbsp;</span>
									</td>
									<td>
										<div>
											<span class="bold no-wrap">&nbsp;</span><br>
											<span class="gray no-wrap">&nbsp;</span>
											<span class="right m20left no-wrap">&nbsp;</span>
										</div>
									</td>
								</tr>
																<tr>
									<td>
										<span class="no-wrap">
											11:35&nbsp;</span><br>
										<span class="gray no-wrap">
											13:10&nbsp;</span>
									</td>
									<td>
										<div>
											<span class="bold no-wrap">&nbsp;</span><br>
											<span class="gray no-wrap">&nbsp;</span>
											<span class="right m20left no-wrap">&nbsp;</span>
										</div>
									</td>
								</tr>
																<tr>
									<td>
										<span class="no-wrap">
											13:25&nbsp;</span><br>
										<span class="gray no-wrap">
											13:25&nbsp;</span>
									</td>
									<td>
										<div>
											<span class="bold no-wrap">Рабочая группа</span><br>
											<span class="gray no-wrap" style="max-width: 100px; display:inline-block">
																																																	</span>
																</div>
									</td>
								</tr>

																			<tr>
									<td>
										<span class="no-wrap">
											15:15&nbsp;</span><br>
										<span class="gray no-wrap">
											15:15&nbsp;</span>
									</td>
									<td>
										<div>
											<span class="bold no-wrap">Информ. поиск.  сист.</span><br>
											<span class="gray no-wrap" style="max-width: 100px; display:inline-block">
																				Тимофеев
																		</span>
											<span class="right m20left no-wrap">&nbsp; 532</span>                    </div>
									</td>
								</tr>

																			<tr>
									<td>
										<span class="no-wrap">
											17:00&nbsp;</span><br>
										<span class="gray no-wrap">
											17:00&nbsp;</span>
									</td>
									<td>
										<div>
											<span class="bold no-wrap">Инф.сист. в упр.  произв.</span><br>
											<span class="gray no-wrap" style="max-width: 100px; display:inline-block">
																				Штейнберг
																		</span>
											<span class="right m20left no-wrap">&nbsp; 534</span>                    </div>
									</td>
								</tr>

															</tbody></table>
								</div>
							</td>
							<td>
							
								<div class="wrap_schedule">
								<div class="title_red uppercase">Среда<span style="color: #f0c1c1;font-size: 14px;text-transform: none" class="right">5 Мар</span></div>
										<table class="schedule">
														<tbody><tr>
										<td>
											<span class="no-wrap">
												08:00&nbsp;</span><br>
											<span class="gray no-wrap">
												09:35&nbsp;</span>
										</td>
										<td>
											<div>
												<span class="bold no-wrap">&nbsp;</span><br>
												<span class="gray no-wrap">&nbsp;</span>
												<span class="right m20left no-wrap">&nbsp;</span>
											</div>
										</td>
									</tr>
																	<tr>
										<td>
											<span class="no-wrap">
												09:45&nbsp;</span><br>
											<span class="gray no-wrap">
												09:45&nbsp;</span>
										</td>
										<td>
											<div>
												<span class="bold no-wrap">Экономика</span><br>
												<span class="gray no-wrap" style="max-width: 100px; display:inline-block">
																					Крылова Э.
																			</span>
												<span class="right m20left no-wrap">&nbsp; 571</span>                    </div>
										</td>
									</tr>

																				<tr>
										<td>
											<span class="no-wrap">
												11:35&nbsp;</span><br>
											<span class="gray no-wrap">
												11:35&nbsp;</span>
										</td>
										<td>
											<div>
												<span class="bold no-wrap">Экономика</span><br>
												<span class="gray no-wrap" style="max-width: 100px; display:inline-block">
																					Крылова Э.
																			</span>
												<span class="right m20left no-wrap">&nbsp; 571</span>                    </div>
										</td>
									</tr>

																				<tr>
										<td>
											<span class="no-wrap">
												13:25&nbsp;</span><br>
											<span class="gray no-wrap">
												13:25&nbsp;</span>
										</td>
										<td>
											<div>
												<span class="bold no-wrap">Перспективные ИТ</span><br>
												<span class="gray no-wrap" style="max-width: 100px; display:inline-block">
																					Шешунова
																			</span>
												<span class="right m20left no-wrap">&nbsp; 509</span>                    </div>
										</td>
									</tr>

																				<tr>
										<td>
											<span class="no-wrap">
												15:15&nbsp;</span><br>
											<span class="gray no-wrap">
												15:15&nbsp;</span>
										</td>
										<td>
											<div>
												<span class="bold no-wrap">Инф.системы и технологии</span><br>
												<span class="gray no-wrap" style="max-width: 100px; display:inline-block">
																					Штейнберг
																			</span>
												<span class="right m20left no-wrap">&nbsp; 520</span>                    </div>
										</td>
									</tr>

																				<tr>
										<td>
											<span class="no-wrap">
												17:00&nbsp;</span><br>
											<span class="gray no-wrap">
												18:35&nbsp;</span>
										</td>
										<td>
											<div>
												<span class="bold no-wrap">&nbsp;</span><br>
												<span class="gray no-wrap">&nbsp;</span>
												<span class="right m20left no-wrap">&nbsp;</span>
											</div>
										</td>
									</tr>
													</tbody></table>
									</div>
								</td>
								<td>
									<div class="wrap_schedule">
									<div class="title_red uppercase">Четверг<span style="color: #f0c1c1;font-size: 14px;text-transform: none" class="right">6 Мар</span></div>
											<table class="schedule">
															<tbody><tr>
											<td>
												<span class="no-wrap">
													08:00&nbsp;</span><br>
												<span class="gray no-wrap">
													09:35&nbsp;</span>
											</td>
											<td>
												<div>
													<span class="bold no-wrap">&nbsp;</span><br>
													<span class="gray no-wrap">&nbsp;</span>
													<span class="right m20left no-wrap">&nbsp;</span>
												</div>
											</td>
										</tr>
																		<tr>
											<td>
												<span class="no-wrap">
													09:45&nbsp;</span><br>
												<span class="gray no-wrap">
													11:20&nbsp;</span>
											</td>
											<td>
												<div>
													<span class="bold no-wrap">&nbsp;</span><br>
													<span class="gray no-wrap">&nbsp;</span>
													<span class="right m20left no-wrap">&nbsp;</span>
												</div>
											</td>
										</tr>
																		<tr>
											<td>
												<span class="no-wrap">
													11:35&nbsp;</span><br>
												<span class="gray no-wrap">
													11:35&nbsp;</span>
											</td>
											<td>
												<div>
													<span class="bold no-wrap">Правоведение</span><br>
													<span class="gray no-wrap" style="max-width: 100px; display:inline-block">
																						ст.пр. Р.
																				</span>
													<span class="right m20left no-wrap">&nbsp; 215</span>                    </div>
											</td>
										</tr>

																					<tr>
											<td>
												<span class="no-wrap">
													13:25&nbsp;</span><br>
												<span class="gray no-wrap">
													13:25&nbsp;</span>
											</td>
											<td>
												<div>
													<span class="bold no-wrap">Корп. инф.сист.</span><br>
													<span class="gray no-wrap" style="max-width: 100px; display:inline-block">
																						Козлов
																				</span>
													<span class="right m20left no-wrap">&nbsp; 534</span>                    </div>
											</td>
										</tr>

																					<tr>
											<td>
												<span class="no-wrap">
													15:15&nbsp;</span><br>
												<span class="gray no-wrap">
													15:15&nbsp;</span>
											</td>
											<td>
												<div>
													<span class="bold no-wrap">Корп. инф.сист.</span><br>
													<span class="gray no-wrap" style="max-width: 100px; display:inline-block">
																						Козлов
																				</span>
													<span class="right m20left no-wrap">&nbsp; 511</span>                    </div>
											</td>
										</tr>

																					<tr>
											<td>
												<span class="no-wrap">
													17:00&nbsp;</span><br>
												<span class="gray no-wrap">
													18:35&nbsp;</span>
											</td>
											<td>
												<div>
													<span class="bold no-wrap">&nbsp;</span><br>
													<span class="gray no-wrap">&nbsp;</span>
													<span class="right m20left no-wrap">&nbsp;</span>
												</div>
											</td>
										</tr>
														</tbody></table>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="wrap_schedule">
										<div class="title_red uppercase">Пятница<span style="color: #f0c1c1;font-size: 14px;text-transform: none" class="right">7 Мар</span></div>
												<table class="schedule">
																<tbody><tr>
												<td>
													<span class="no-wrap">
														08:00&nbsp;</span><br>
													<span class="gray no-wrap">
														09:35&nbsp;</span>
												</td>
												<td>
													<div>
														<span class="bold no-wrap">&nbsp;</span><br>
														<span class="gray no-wrap">&nbsp;</span>
														<span class="right m20left no-wrap">&nbsp;</span>
													</div>
												</td>
											</tr>
																			<tr>
												<td>
													<span class="no-wrap">
														09:45&nbsp;</span><br>
													<span class="gray no-wrap">
														11:20&nbsp;</span>
												</td>
												<td>
													<div>
														<span class="bold no-wrap">&nbsp;</span><br>
														<span class="gray no-wrap">&nbsp;</span>
														<span class="right m20left no-wrap">&nbsp;</span>
													</div>
												</td>
											</tr>
																			<tr>
												<td>
													<span class="no-wrap">
														11:35&nbsp;</span><br>
													<span class="gray no-wrap">
														11:35&nbsp;</span>
												</td>
												<td>
													<div>
														<span class="bold no-wrap">Экология</span><br>
														<span class="gray no-wrap" style="max-width: 100px; display:inline-block">
																							Чуприна
																					</span>
														<span class="right m20left no-wrap">&nbsp; 462</span>                    </div>
												</td>
											</tr>

																						<tr>
												<td>
													<span class="no-wrap">
														13:25&nbsp;</span><br>
													<span class="gray no-wrap">
														13:25&nbsp;</span>
												</td>
												<td>
													<div>
														<span class="bold no-wrap">Корпорат.инф.системы</span><br>
														<span class="gray no-wrap" style="max-width: 100px; display:inline-block">
																							Козлов
																					</span>
														<span class="right m20left no-wrap">&nbsp; 509</span>                    </div>
												</td>
											</tr>

																						<tr>
												<td>
													<span class="no-wrap">
														15:15&nbsp;</span><br>
													<span class="gray no-wrap">
														15:15&nbsp;</span>
												</td>
												<td>
													<div>
														<span class="bold no-wrap">Моделирование систем</span><br>
														<span class="gray no-wrap" style="max-width: 100px; display:inline-block">
																							Прохорова
																					</span>
														<span class="right m20left no-wrap">&nbsp; 532</span>                    </div>
												</td>
											</tr>

																						<tr>
												<td>
													<span class="no-wrap">
														17:00&nbsp;</span><br>
													<span class="gray no-wrap">
														18:35&nbsp;</span>
												</td>
												<td>
													<div>
														<span class="bold no-wrap">&nbsp;</span><br>
														<span class="gray no-wrap">&nbsp;</span>
														<span class="right m20left no-wrap">&nbsp;</span>
													</div>
												</td>
											</tr>
															</tbody></table>
											</div>
										</td>
										<td>
											<div class="wrap_schedule">
											<div class="title_red uppercase">Суббота<span style="color: #f0c1c1;font-size: 14px;text-transform: none" class="right">8 Мар</span></div>
													<table class="schedule">
																	<tbody><tr>
													<td>
														<span class="no-wrap">
															08:00&nbsp;</span><br>
														<span class="gray no-wrap">
															09:35&nbsp;</span>
													</td>
													<td>
														<div>
															<span class="bold no-wrap">&nbsp;</span><br>
															<span class="gray no-wrap">&nbsp;</span>
															<span class="right m20left no-wrap">&nbsp;</span>
														</div>
													</td>
												</tr>
																				<tr>
													<td>
														<span class="no-wrap">
															09:45&nbsp;</span><br>
														<span class="gray no-wrap">
															11:20&nbsp;</span>
													</td>
													<td>
														<div>
															<span class="bold no-wrap">&nbsp;</span><br>
															<span class="gray no-wrap">&nbsp;</span>
															<span class="right m20left no-wrap">&nbsp;</span>
														</div>
													</td>
												</tr>
																				<tr>
													<td>
														<span class="no-wrap">
															11:35&nbsp;</span><br>
														<span class="gray no-wrap">
															13:10&nbsp;</span>
													</td>
													<td>
														<div>
															<span class="bold no-wrap">&nbsp;</span><br>
															<span class="gray no-wrap">&nbsp;</span>
															<span class="right m20left no-wrap">&nbsp;</span>
														</div>
													</td>
												</tr>
																				<tr>
													<td>
														<span class="no-wrap">
															13:25&nbsp;</span><br>
														<span class="gray no-wrap">
															15:00&nbsp;</span>
													</td>
													<td>
														<div>
															<span class="bold no-wrap">&nbsp;</span><br>
															<span class="gray no-wrap">&nbsp;</span>
															<span class="right m20left no-wrap">&nbsp;</span>
														</div>
													</td>
												</tr>
																				<tr>
													<td>
														<span class="no-wrap">
															15:15&nbsp;</span><br>
														<span class="gray no-wrap">
															16:50&nbsp;</span>
													</td>
													<td>
														<div>
															<span class="bold no-wrap">&nbsp;</span><br>
															<span class="gray no-wrap">&nbsp;</span>
															<span class="right m20left no-wrap">&nbsp;</span>
														</div>
													</td>
												</tr>
																				<tr>
													<td>
														<span class="no-wrap">
															17:00&nbsp;</span><br>
														<span class="gray no-wrap">
															18:35&nbsp;</span>
													</td>
													<td>
														<div>
															<span class="bold no-wrap">&nbsp;</span><br>
															<span class="gray no-wrap">&nbsp;</span>
															<span class="right m20left no-wrap">&nbsp;</span>
														</div>
													</td>
												</tr>
																</tbody></table>
												</div>
											</td>
											<td  style="vertical-align:top">
												<div class="wrap_schedule" style="box-shadow: none !important; border: 0">
												<table class="schedule">
													<tbody>
														<tr>
															<td style="border: 0;">
																<h3 class="no-margin">
																	<img src="http://placehold.it/78x43">
																Заголовок</h3>
																<p>Lorem ipsum dolor sit amet,<br> 
																consectetur adipisicing elit<br>
																sed do eiusmod tempor<br>
																incididunt ut labore et dolore<br></p>
																<a class="red-link" href="#" target="_blank">Ссылка</a>
															</td>
														</tr>
													</tbody>
												</table>
												</div>
										    </td>
											<td></td>
								</tr>
				</tbody>
			</table>
		</div>
			
		</div>
	</div>
	<div id="news">
		<div id="news-content" class="valign-middle">
			<a href="http://vk.com/chsuinfo" target="_blank"><i class="i vk"></i></a>
			<h3 class="inline-block no-margin">vk.com/chsuinfo</h3>
			<div class="posts inline-block">
						<div style="display: none;"><span style="margin-right: 16px">05.03.2014</span> Новость 1</div>
						<div style="display: block;"><span style="margin-right: 16px">03.03.2014</span> Новость 2</div>
						<div style="display: none;"><span style="margin-right: 16px">26.02.2014</span> Новость 3</div>
						<div style="display: none;"><span style="margin-right: 16px">24.02.2014</span> Новость 4</div>
						<div style="display: none;"><span style="margin-right: 16px">20.02.2014</span> Новость 5</div>
				</div>
		</div>
	</div>
	<div id="footer">
		<div id="footer-content">
			<span class="link">© 2014 ChsuInfo.ru</span> Расписание обновляется ежедневно. <span class="authors" style="float:right;">Есть вопросы или нашли ошибку? <a href="#" target="_blank">Алексей Дурягин</a> / <a href="#" target="_blank">Вадим Осюков</a></span>
		</div>
	</div>
	
	
	<script type="text/javascript" src="js/app.js"></script>
	<div id="modalAuth" class="reveal-modal medium stInput">
		 <div class="lineInput">
			 <span>Номер телефона</span>
			 <input type="text" placeholder="+79210000000">
		 </div>
		 <div class="lineInput">
			<span>Пароль</span>
			<input type="password">
		 </div>
		 <div class="lineInput">
			<input class="customButton" type="button" value="Войти"> <input class="blueButton" type="button" value="Войти через ВК"> <a href="#" class="red-link right" style="padding-top:12px;">Забыл пароль</a>
		 </div>
		 <a class="close-reveal-modal">&#215;</a>
	</div>
	
	<div id="modalReg" class="reveal-modal medium stInput">
		 <div class="lineInput">
			 <span>Номер телефона</span>
			 <input type="text" placeholder="9210000000">
		 </div>
		 <div class="lineInput">
			Для регистрации вам необходимо указать номер вашего мобильного телефона, на который будет выслано бесплатное SMS сообщение, содержащее пароль для входа на сайт.
Номер мобильного телефона в формате 10 цифр.
		 </div>
		 <div class="lineInput">
			<input class="customButton" type="button" value="Зарегистрироваться">
		 </div>
		 <a class="close-reveal-modal">&#215;</a>
	</div>

</body>