<!DOCTYPE HTML>
<html lang="ru">
<head>
    <!-- v 2.0 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8">
    <title>ChsuInfo - Расписание</title>
    <!-- <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> -->
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link href="css/reveal.css" rel="stylesheet" />
	
    <script type="text/javascript" src="js/jquery.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.ikSelect.min.js"></script>
	<script type="text/javascript" src="js/jquery.reveal.js"></script>

</head>
<body>
	<div id="header">
		<div id="header_content">
			<img src="http://placehold.it/132x60">		
			<div class="small-ava" style="margin-left:15px;"><img src="http://cs306214.vk.me/v306214776/8697/SNbA-jCVrCk.jpg"></div>
			<a href="#" class="red-link" style="margin-left:15px;">Профиль</a>
			<a href="#" class="red-link" style="margin-left:15px;">Кабинет старосты</a>
			<span>
				<a href="#">Расписание</a> / <a href="#">Mobile</a> / <a href="#">SMS & VK</a> / <a href="#">Блог</a> / <a href="#" id="active">Мероприятия</a>
			</span>
			<div id="header-shadow"></div>
		</div>
	</div>
	<div id="content">
		<div id="content_c">
			<div class="blog-post">
				<div class="blog-title"><a href="#">ЧГУ COMEDY</a></div>
				<div class="blog-date-author">Добавлено: 7 марта, в 13:51 / Событие состоится: 21 марта, в 11:00 / Институт: ИИТ / Ссылка: <a href="#" target="_blank">http://vk.com/iit</a></div>
				<div class="blog-text">
					<div class="meropr-text inline">
						ЧГУ COMEDY первый проект нашего университета, в котором каждый желающий может попробовать себя в роли резидента Comedy Club Chsu!
Жанр твоего выступления может быть любой: стенд-ап, миниатюры, оригинальный жанр, монолог, текстовые репризы.
					</div>
					<div class="meropr-img inline"><img src="https://pp.vk.me/c313727/v313727927/add1/_qJbLFx-xeU.jpg"></div>
				
				</div>
				<div class="valign-middle" style="margin: 20px 0px 20px 0px;">
					<span style="padding-right:10px;">Рассказать друзьям</span> <a href="#" target="_blank"><i class="i vk"></i></a> <a href="#" target="_blank"><i class="i tw"></i></a> <a href="#" target="_blank"><i class="i fb"></i></a>
				</div>
			</div>
			<div class="hr"></div>
			<img src="images/comments.png">
		</div>	
	</div>
	<div id="news">
		<div id="news-content" class="valign-middle">
			<a href="http://vk.com/chsuinfo" target="_blank"><i class="i vk"></i></a>
			<h3 class="inline-block no-margin">vk.com/chsuinfo</h3>
			<div class="posts inline-block">
						<div style="display: none;"><span style="margin-right: 16px">05.03.2014</span> Новость 1</div>
						<div style="display: block;"><span style="margin-right: 16px">03.03.2014</span> Новость 2</div>
						<div style="display: none;"><span style="margin-right: 16px">26.02.2014</span> Новость 3</div>
						<div style="display: none;"><span style="margin-right: 16px">24.02.2014</span> Новость 4</div>
						<div style="display: none;"><span style="margin-right: 16px">20.02.2014</span> Новость 5</div>
				</div>
		</div>
	</div>
	<div id="footer">
		<div id="footer-content">
			<span class="link">© 2014 ChsuInfo.ru</span> Расписание обновляется ежедневно. <span class="authors" style="float:right;">Есть вопросы или нашли ошибку? <a href="#" target="_blank">Алексей Дурягин</a> / <a href="#" target="_blank">Вадим Осюков</a></span>
		</div>
	</div>
	
	
	<script type="text/javascript" src="js/app.js"></script>
</body>