<!DOCTYPE HTML>
<html lang="ru">
<head>
    <!-- v 2.0 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8">
    <title>ChsuInfo - Расписание</title>
    <!-- <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> -->
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link href="css/reveal.css" rel="stylesheet" />
	
    <script type="text/javascript" src="js/jquery.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.ikSelect.min.js"></script>
	<script type="text/javascript" src="js/jquery.reveal.js"></script>

</head>
<body>
	<div id="header">
		<div id="header_content">
			<img src="http://placehold.it/132x60">		
			<div class="small-ava" style="margin-left:15px;"><img src="http://cs306214.vk.me/v306214776/8697/SNbA-jCVrCk.jpg"></div>
			<a href="#" class="red-link" style="margin-left:15px;">Профиль</a>
			<a href="#" class="red-link" style="margin-left:15px;">Кабинет старосты</a>
			<span>
				<a href="#">Расписание</a> / <a href="#">Mobile</a> / <a href="#" id="active">SMS & VK</a> / <a href="#">Блог</a> / <a href="#">Мероприятия</a>
			</span>
			<div id="header-shadow"></div>
		</div>
	</div>
	<div id="content">
		<div id="content_c">
			<h1>SMS INFORMER</h1>
			Сервис SMS информер представляет собой бесплатную рассылку расписания занятий на завтрашний день.<br>
Наверное, каждый пропускал пары хотя бы раз, из-за того, что не знал о заменах. А может, было наоборот, Вам за утро звонили 10 человек, чтобы узнать, к какой сегодня паре.<br>
Наш SMS сервис исправит эту проблему. С нашим сервисом вы всегда будете знать пары на завтра.<br>
Обращаем ваше внимание на то, что SMS подписка абсолютно БЕСПЛАТНА и не тарифицируется!
			<h3>Оформить SMS подписку рассылки расписания для : 1ПИб-01-11оп </h3>
			Оформить подписку на 
			<select>
				<option>10</option>
				<option>15</option>
				<option>20</option>
			</select> 
			дней и получать SMS сообщение в 
			<select>
				<option>08</option>
				<option>09</option>
				<option>10</option>
			</select> 
			:00 часов <br>

            <input type="checkbox"> Я хочу получать бесплатные SMS оповещения о ближайших мероприятиях университета 
			<br>
			<input class="customButton" type="button" value="Подключить SMS информер" style="margin-top:10px;">
			
			<p class="hr"></p>
			
			<h1>VK INFORMER (ТЕСТОВЫЙ РЕЖИМ)</h1>
			Сервис VK информер представляет собой бесплатную рассылку расписания занятий на завтрашний день в социальной сети Вконтакте.<br>
Многие студенты проводят в социальных сетях много времени, сообщения приходят на смартфоны и планшеты. Поэтому пропустить важные, а может, и не совсем важные занятия теперь точно не получится. 
			
			<div class="message-green" style="margin-top:10px;">Вы подписаны на рассылку расписания <b>1ПИб-01-11оп</b> в социальной сети "ВКонтакте" на аккаунт <a href="#" class="red-link">vk.com/id52858776</a>. Время расслыки <b>21</b> час(ов). <a href="#" class="red-link">[отказаться]</a></div>
		</div>	
	</div>
	<div id="news">
		<div id="news-content" class="valign-middle">
			<a href="http://vk.com/chsuinfo" target="_blank"><i class="i vk"></i></a>
			<h3 class="inline-block no-margin">vk.com/chsuinfo</h3>
			<div class="posts inline-block">
						<div style="display: none;"><span style="margin-right: 16px">05.03.2014</span> Новость 1</div>
						<div style="display: block;"><span style="margin-right: 16px">03.03.2014</span> Новость 2</div>
						<div style="display: none;"><span style="margin-right: 16px">26.02.2014</span> Новость 3</div>
						<div style="display: none;"><span style="margin-right: 16px">24.02.2014</span> Новость 4</div>
						<div style="display: none;"><span style="margin-right: 16px">20.02.2014</span> Новость 5</div>
				</div>
		</div>
	</div>
	<div id="footer">
		<div id="footer-content">
			<span class="link">© 2014 ChsuInfo.ru</span> Расписание обновляется ежедневно. <span class="authors" style="float:right;">Есть вопросы или нашли ошибку? <a href="#" target="_blank">Алексей Дурягин</a> / <a href="#" target="_blank">Вадим Осюков</a></span>
		</div>
	</div>
	
	
	<script type="text/javascript" src="js/app.js"></script>
</body>